<app-header *ngIf="!isshow"></app-header>

<!-- Login Section -->
<section class="vh-100" *ngIf="!isshow">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 col-lg-6">
                            <img src="" alt="" class="img-fluid">
                        </div>
                        <!--form section-->
                        <div class="col-md-6 col-lg-6 align-items-center">
                            <div class="card p-4 p-lg-5 text-white" style="background-color: #8a4baf;">
                                <form [formGroup]="loginform">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #f39c12;"></i>
                                        <span class="h1 fw-bol mb-0 ">Login</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Login into your account</h5>
                                    <div class="form-outline mb-2">
                                        <label class="form-label">Email Address</label>
                                        <input type="email" placeholder="Enter your email" formControlName="email"
                                            class="form-control form-control-lg">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label class="form-label">Password</label>
                                        <input type="password" placeholder="Enter your Password" formControlName="password"
                                            class="form-control form-control-lg">
                                    </div>

                                    <div class="pt-1 mb-3 text-center">
                                        <button class="btn btn-primary" [disabled]="this.loginform.invalid" type="button"
                                            (click)="loginUser()">Login</button>
                                    </div>
                                    <p class="mt-5 pb-lg-2">Don't have an account ? <a (click)="signup()"
                                            style="color: white; cursor:pointer; font-weight:700;">Sign Up here</a>
                                    </p>
                                    <div class="text-center">
                                        <button routerLink="/adminlogin-signup" class="btn btn-warning">Admin login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sign Up Section -->
<section class="vh-100" *ngIf="isshow">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 col-lg-6">
                            <img src="" alt="" class="img-fluid">
                        </div>
                        <!--form section-->
                        <div class="col-md-6 col-lg-6 align-items-center">
                            <div class="card p-4 p-lg-5 text-white" style="background-color: #b36df1;">
                                <form [formGroup]="signupform">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #1d12f3;"></i>
                                        <span class="h1 fw-bol mb-0 ">Sign Up</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Sign Up into your account</h5>

                                    <div class="form-outline mb-2">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" placeholder="Enter your Full Name" formControlName="nom"
                                            class="form-control form-control-lg">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label class="form-label">Email Address</label>
                                        <input type="email" placeholder="Enter your Email" formControlName="email"
                                            class="form-control form-control-lg">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label class="form-label">Password</label>
                                        <input type="password" placeholder="Enter your Password" formControlName="password"
                                            class="form-control form-control-lg">
                                    </div>

                                    <div class="pt-1 mb-3 text-center">
                                        <button class="btn btn-primary" type="button" [disabled]="this.signupform.invalid"
                                            (click)="submitsignup()">Sign Up</button>
                                    </div>
                                    <p class="mt-5 pb-lg-2">Already have an account ? </p>
                                    <a (click)="login()" style="color: white; cursor:pointer; font-weight:700;">Login here</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>