<!--admin login-->
<section class="vh-100" *ngIf="this.showlogin" style="background-color: darkgray;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center ">
                        <h3 class="mb-4" >Admin login</h3>
                        <!--form-->
                        <form [formGroup]="loginForm">
                            <div class="form-outline mb-4">
                                <input type="email" placeholder="entrer votre email" formControlName="email" class="form-control form-control-lg">
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" placeholder="entrer votre password" formControlName="password" class="form-control form-control-lg">
                            </div>

                            <button (click)="loginuser()" class="btn btn-primary" [disabled]="this.loginForm.invalid">Login</button>&nbsp;
                            <button routerLink="/" class="btn btn-warning">Home</button>
                            <p class="mt-3 pb-lg-2">Don't have account 
                            <a (click)="signuphere()" style="color: black; cursor:pointer;font-weight:700;">signup</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--admin signup-->
<section class="vh-100" *ngIf="!this.showlogin" style="background-color: darkgray;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center ">
                        <h3 class="mb-4" >Admin signup</h3>
                        <!--form-->
                        <form [formGroup]="signupForm">
                            <div class="form-outline mb-4">
                                <input type="text" placeholder="entrer votre name" formControlName="nom" class="form-control form-control-lg">
                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" placeholder="entrer votre email" formControlName="email" class="form-control form-control-lg">
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" placeholder="entrer votre password" formControlName="password" class="form-control form-control-lg">
                            </div>

                            <button (click)="adminsignup()" [disabled]="this.signupForm.invalid" class="btn btn-primary">Signup</button>&nbsp;
                          
                            <p class="mt-3 pb-lg-2">Already  have account? 
                            <a (click)="loginhere()" style="color: black; cursor:pointer;font-weight:700;">login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>